@mixin arrow-controls($direction) {
  #{$direction}: 0;
  color: white;
  text-align: $direction;
  font-size: 30pt;
}

%vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

%controls-index {
  z-index: 3;
}
